*{
    background-color: white;
}
body{
    margin:0;
}
nav{
    display: flex;
    flex-direction: row;
    background: black;
    height: 6%;
    justify-content: space-between;
}
.nav-items{
    color: white;
    background: black;
    height: 6%;
    font-size: 20px;
    width: auto;
    margin: 0;
    padding: 1%;
}

#cart:hover{
    background-color: sienna;
    
}
.items{
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    width: 20%;
    margin: 10px;
    box-shadow: 0px 4px 8px 0 grey;
    border-radius: 2px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
button{
    border: 2px solid black;
}
.search1{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 4px;
    padding-left: 35%;
}
input[type="text"]{
    border-radius: 8px;
    border: 2px solid rebeccapurple;
    width: 30%;
    height:30px;
    padding-left: 4px;
    margin: 4px;
}
#search{
    height:30px;
    width:10%;
    border-radius:8px;
    border:2px solid black;
    padding: 4px;
}
#search:hover{
    background-color: brown;
    color: white;
}
.filter{
    max-width: 70%;
    margin: 0 auto;
    padding-left: 25%;
}
.filter > button{
    height:30px;
    width:10%;
    border-radius:8px;
    border:2px solid black;
    padding: 4px;
    margin: 4px;    
}
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
#modalContent{
    margin:8% auto;
    border: 2px solid red;
    padding: 20px;
    width: 70%;
    height: 70%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-image: url(1.jpeg);*/
}
#close{
    display: none;
}